[database]
host = "supermetrics-database"
database = "supermetrics"
user = "root"
password = "root"

[supermetrics_api]
host = "https://api.supermetrics.com"
auth_path = "/assignment/register"
posts_path = "/assignment/posts"
client_id = ""
email = "your@email.address"
name = "Your Name"
