.user {
  &__statistics-item {
    display: flex;
    margin-bottom: 20px;
  }

  &__statistics-item-name {
    flex-basis: 20%;
    margin-right: 30px;
    font-family: $title-font;
    text-align: right;
  }

  &__statistics-item-value {
    flex-basis: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .user {
    &__statistics-item {
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__statistics-item-name {
      text-align: left;
      margin-bottom: 10px;
    }
  }
}