$main-bg: #ffffff;
$main-color: #3d3d3d;

$title-font: 'Muli Bold', Arial, Helvetica, sans-serif;
$main-font: 'Muli Regular', Arial, Helvetica, sans-serif;

$header-bg: #6577E7;
$header-color: #ffffff;

$link-color: #6577E7;

$error-bg: #ff5757;
$error-color: #ffffff;

$border-radius: 10px;